@charset "UTF-8";
@import url(./layout/normalize.css);
@import url(./main.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap");
html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

.body {
  line-height: 1.42; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex; }

.wrapper__content {
  flex: 1; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.42; }

.section {
  font-family: 'Alegreya Sans', helvetica, sans-serif;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

.contact__phone {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px; }
  .contact__phone:before {
    content: '';
    width: 12px;
    height: 11px;
    background-image: url(../Elements/phone\ .png);
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 6px; }

.promo {
  background: url(../Elements/Лист_1sec.png) no-repeat 90% 70%, url(../Elements/Ягоды_1sec.png) no-repeat 65% 83%, url(../Elements/Ягода2_1sec.png) no-repeat 85% 106%, url(../Elements/Лист2_1sec.png) no-repeat 66% 104%, url(../Elements/background.png) no-repeat 0 0/cover;
  display: flex;
  justify-content: space-between;
  z-index: 1; }
  .promo:after {
    content: '';
    position: absolute;
    background: url(../Elements/Лист3_1sec.png);
    width: 25rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-position-x: 4.4375rem;
    background-position-y: 5.3125rem;
    bottom: -16rem; }

.why {
  background: url(../Elements/узор_лист.png) no-repeat;
  background-position-x: 0;
  background-position-y: 50%;
  position: relative;
  z-index: 1; }

.why:after {
  content: '';
  position: absolute;
  bottom: -8.75rem;
  width: 14.375rem;
  height: 20.625rem;
  background: url(../Elements/малина.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100; }

.form {
  background: url(../Elements/лист_form.png) no-repeat 100% 75%, url(../Elements/ягода_form.png) no-repeat 6% 75%, url(../Elements/фон_form.png) no-repeat 0 0/cover; }

.header__container {
  height: 2.8125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.375rem; }
  .header__container .navigation__box {
    display: flex; }
    @media screen and (max-width: 768px) {
      .header__container .navigation__box {
        display: none; } }
  .header__container .navigation__item {
    margin: auto 0.9375rem;
    color: #fff;
    font-family: 'Alegreya Sans', helvetica, sans-serif;
    font-weight: 400; }
  .header__container .contact {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header__container .contact {
        display: none; } }

.naturchoco__container {
  display: flex; }
  @media screen and (max-width: 768px) {
    .naturchoco__container {
      flex-direction: column-reverse;
      text-align: center;
      padding: 0 15%;
      line-height: 1; } }
.naturchoco__left {
  width: 50%;
  width: 25.625rem;
  color: #fff;
  margin-top: 5.3125rem; }
  @media screen and (max-width: 768px) {
    .naturchoco__left {
      width: 100%;
      margin-top: 0; } }
.naturchoco__right {
  width: 50%;
  margin-left: 6.25rem; }
  @media screen and (max-width: 768px) {
    .naturchoco__right {
      width: 100%;
      margin-left: 0px; } }
.naturchoco__title {
  font-size: 3.75rem;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .naturchoco__title {
      margin: 0 0; } }
.naturchoco__text {
  font-size: 1.3125rem;
  margin-bottom: 3.1875rem;
  width: 25rem; }
  @media screen and (max-width: 768px) {
    .naturchoco__text {
      padding: 0 5rem; } }
.naturchoco__pic {
  width: 700px; }
  @media screen and (max-width: 768px) {
    .naturchoco__pic {
      width: 450px; } }

.btn {
  padding: 1.25rem 2.125rem;
  border-radius: 1.875rem;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f5a47;
  font-family: 'Alegreya Sans', helvetica, sans-serif;
  font-size: 1.1875rem;
  font-weight: 800; }
  .btn__green {
    background-color: #0f5a47;
    color: #fff; }

.specification {
  color: #fff;
  margin-bottom: 2.9375rem;
  margin-top: 5.3125rem; }
  @media screen and (max-width: 768px) {
    .specification {
      margin-top: 3.125rem; } }
  .specification__list {
    display: flex; }
  .specification__item {
    display: flex;
    margin-right: 0.3125rem; }
  .specification__icon {
    margin-right: 0.3125rem; }
  .specification__text {
    margin-right: 0.9375rem; }
    @media screen and (max-width: 768px) {
      .specification__text {
        text-align: start; } }

.whychoco__container .whychoco__title {
  display: flex;
  justify-content: center;
  align-items: center; }
.whychoco__container .whychoco__text {
  font-size: 1.125rem;
  font-weight: 400;
  color: #8f8f8f;
  width: 31.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto; }
.whychoco__container .whychoco__list {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .whychoco__container .whychoco__list {
      flex-direction: column; } }
.whychoco__container .whychoco__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 5.5rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .whychoco__container .whychoco__item {
      margin: 0 0; } }
.whychoco__container .whychoco__item:before {
  content: '';
  background-image: url(../Elements/точки.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 4.375rem;
  height: 1.25rem;
  top: 3.4375rem;
  right: -6.5625rem;
  display: inline-block;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .whychoco__container .whychoco__item:before {
      display: none; } }
.whychoco__container .whychoco__item:last-child:before {
  display: none; }
.whychoco__container .whychoco__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  background-color: #f2f5f4; }
.whychoco__container .whychoco__title-pic {
  margin-top: 4.0625rem;
  font-size: 1.6875rem; }
  @media screen and (max-width: 768px) {
    .whychoco__container .whychoco__title-pic {
      margin-top: 30px; } }
.whychoco__container .whychoco__text-pic {
  width: 16.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #8f8f8f; }
  @media screen and (max-width: 768px) {
    .whychoco__container .whychoco__text-pic {
      width: 22.5rem; } }

.feedback__container {
  width: 65%;
  margin: 0 auto; }
.feedback__photo-item {
  background: url("../Elements/Прямоугольник 11 kопировать 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.25rem 3rem;
  display: flex; }
  @media screen and (max-width: 768px) {
    .feedback__photo-item {
      flex-direction: column;
      align-items: center; } }
.feedback__title {
  text-align: center;
  margin-bottom: 5rem; }
.feedback__img {
  margin-right: 1.25rem; }
.feedback__title-img {
  font-size: 1.875rem;
  font-weight: 500; }
.feedback__text-img {
  width: 80%;
  font-weight: 400;
  font-size: 1.125rem;
  color: #8f8f8f; }
  @media screen and (max-width: 768px) {
    .feedback__text-img {
      width: 100%; } }
.feedback__text-signature {
  font-weight: 500;
  font-size: 1.125rem;
  color: #8f8f8f; }
@media screen and (max-width: 768px) {
  .feedback__text-wrapper {
    text-align: center; } }
.feedback__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem; }
.feedback__item {
  margin-right: 1.5625rem; }

@media screen and (max-width: 768px) {
  .team__container {
    width: 80%;
    margin: 0 auto; } }
.team__title {
  text-align: center;
  margin-bottom: 2.5rem; }
.team__list {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .team__list {
      flex-wrap: wrap; } }
.team__item {
  align-items: center;
  text-align: center;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team__item {
      width: 50%; } }
.team__item:hover .team__content-wrap {
  height: 4.375rem; }
.team__item:hover .team__trigger {
  color: #0f5a47; }
.team__name {
  text-align: center;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .team__name {
      margin-top: 15px; } }
.team__trigger {
  text-decoration: none; }
.team__content {
  padding: 0 20px; }
  .team__content-wrap {
    height: 0rem;
    overflow: hidden;
    transition: .5s; }

.options {
  background-image: url("../../Elements/Background__options.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative; }
  .options__item:hover .options__content-wrap {
    width: 33.75rem; }
  .options__item:hover .options__trigger-text {
    color: #8f8f8f; }
  .options__title {
    position: absolute;
    top: 6.25rem;
    left: 5rem;
    font-weight: bold; }
  .options__list, .options__item {
    height: 100%;
    display: flex; }
  .options__trigger {
    position: relative;
    width: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-decoration: none; }
    .options__trigger-text {
      display: flex;
      align-items: center;
      transform: rotate(-90deg);
      white-space: nowrap;
      font-size: 3rem;
      color: #fff;
      transform-origin: 0 0;
      height: 5rem; }
  .options__content-wrap {
    width: 0rem;
    transition: .5s;
    overflow: hidden; }
  .options__content {
    padding: 1.5625rem 3.125rem;
    background: rgba(53, 54, 54, 0.93);
    height: 100%;
    box-sizing: border-box;
    min-width: 33.75rem; }
  .options__desc {
    font-weight: 500;
    font-size: 1rem;
    color: #fff; }

.map {
  background-image: url("../Elements/Map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.footer {
  position: absolute;
  width: 100%;
  height: 5.8125rem;
  background-color: #fff;
  bottom: 0rem;
  display: flex; }
  .footer__container {
    display: flex;
    width: 58.75rem;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .footer__container {
        padding: 0 15px; } }
  .footer__socials {
    width: 29.375rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .footer__socials {
        width: 50%; } }
  .footer__socials-list {
    display: flex; }
  .footer__socials-item {
    margin: 0rem 0.625rem; }

.footer__contact {
  width: 29.375rem;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__contact {
      width: 50%; } }
  .footer__contact-address {
    font-weight: 500;
    font-size: 1.3125rem;
    margin: 0 0; }
  .footer__contact-phone {
    color: #0f5a47;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem; }

.form {
  margin: 0 auto; }
  .form__elem {
    display: flex; }
    @media screen and (max-width: 768px) {
      .form__elem {
        flex-direction: column;
        align-items: center; } }
  .form__title {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #0f5a47; }
  .form__row {
    display: flex; }
  .form__block {
    flex: 1;
    margin-left: 1.4375rem;
    margin-bottom: 1.4375rem; }
    .form__block:first-child {
      margin-left: 0; }
  .form__block-title {
    margin-bottom: 0.4375rem;
    color: #0f5a47;
    font-size: 1.125rem;
    font-weight: 500; }
  .form__block-feedback {
    width: 100%; }
  .form__input {
    width: 100%;
    height: 2.5rem;
    border: 0.0625rem solid transparent;
    background: white;
    outline: none; }
  .form__input:focus {
    border-color: green; }
  .form__input-textarea {
    width: 100%;
    min-height: 9.375rem;
    margin-bottom: 0.8125rem;
    resize: vertical; }
  .form__wrap-right {
    margin-left: 1.25rem;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .form__wrap-right {
        margin-left: 0; } }
  .form__wrap-left {
    width: 50%; }
  .form__buttons {
    margin-top: 2.1875rem;
    color: #0f5a47; }
  .form__controls {
    color: #0f5a47;
    font-size: 1.125rem; }
    .form__controls-title, .form__controls-options {
      font-weight: 500;
      display: flex; }
  .form__btn {
    padding-top: 3.125rem;
    display: flex; }
    .form__btn-wrap {
      margin-left: 2.5rem; }
  @media screen and (max-width: 768px) {
    .form__checkbox-type {
      margin-top: 15px; } }

.reset {
  padding: 0;
  border: 0;
  font: inherit;
  color: #0f5a47;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer; }

.option {
  display: flex;
  flex-wrap: wrap; }
  .option__radio {
    margin: 0.3125rem 0.625rem; }
  .option__checkbox {
    margin: 0.3125rem 0.625rem; }
  @media screen and (max-width: 768px) {
    .option {
      justify-content: center; } }

.hamburger {
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline; } }

/*# sourceMappingURL=main.css.map */
