.body {
  line-height: 1.42;
}

.wrapper  {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
}

.wrapper__content {
  flex: 1;
}

.container  {
  width: 940px;
  margin: 0 auto;
  line-height: 1.42;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  @include Alegreya();
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.contact__phone {
  @include Alegreya();
  display: flex;
  align-items: center;
  color: $white;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  &:before  {
    content: '';
    width: 12px;
    height: 11px;
    background-image: url(../Elements/phone\ .png);
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 6px;
  }
}