.btn  {
  padding: 20px 34px;
  border-radius: 30px;
  background-color: $white;
  text-transform: uppercase;
  text-decoration: none;
  color: $green;
  @include Alegreya();
  font-size: 19px;
  font-weight: 800;
}