.feedback {
  &__photo-item{
  background: url('../../Elements/Прямоугольник\ 11\ kопировать\ 3.png');
  background-repeat: no-repeat;
  padding: 52px 48px;
  display: flex;
  }
  &__title {
    text-align: center;
    margin-bottom: 80px;
  }
  &__img {
    margin-right: 20px;
  }
  &__title-img {
    font-size: 30px;
    font-weight: 500;
  }
  &__text-img {
    width: 80%;
    font-weight: 400;
    font-size: 18px;
    color: $grey;
  }
  &__text-signature {
    font-weight: 500;
    font-size: 18px;
    color: $grey;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-right: 25px;
  }
}