.feedback {
  &__container {
    width: 65%;
    margin: 0 auto;
  }
  &__photo-item{
  background: url('../icons/na_zamenu.png') right top, $grey;
  background-repeat: no-repeat;
  padding: rem(52px) rem(48px);
  display: flex;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: rem(80px);
  }
  &__img {
    margin-right: rem(20px);
  }
  &__title-img {
    font-size: rem(30px);
    font-weight: 500;
  }
  &__text-img {
    width: 80%;
    font-weight: 400;
    font-size: rem(18px);
    color: $grey;
    
    @include tablets {
      width: 100%;
    }
  }
  &__text-signature {
    font-weight: 500;
    font-size: rem(18px);
    color: $grey;
  }
  &__text-wrapper {
    @include tablets {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(30px);
  }
  &__item {
    margin-right: rem(25px);
  }
}