.footer {
  position: absolute;
  width: 100%;
  height: rem(93px);
  background-color: $white;
  bottom: rem(0px);
  display: flex;

  @include phones {
    height: rem(253px);
  }
  &__container {
    display: flex;
    width: rem(940px);
    margin: 0 auto;

    @include tablets {
      padding: 0 15px;
    }

    @include phones {
      width: 100%;
      flex-direction: column;
      
    }
  }
  &__socials{
    width: rem(470px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablets {
      width: 50%;
    }

    @include phones {
      justify-content: center;
      width: 100%;
      margin-top: 20px;
    }
  }
  &__socials-list{
    display: flex;
  }
  &__socials-item{
    margin: rem(0px) rem(10px);
  }
}
.footer__contact {
  width: rem(470px);
  display: flex;
  align-items: center;

  @include tablets {
    width: 50%;
  }

  @include phones {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  &-address{
    font-weight: 500;
    font-size: rem(21px);
    margin: 0 0;

    @include phones {
      font-size: 20px;    
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  &-phone {
    color: $green;
    text-decoration: none;
    font-weight: 400;
    font-size: rem(24px);

    @include phones {
      font-size: rem(29px);
    }
  }
}