.footer {
  position: absolute;
  width: 100%;
  height: rem(93px);
  background-color: $white;
  bottom: rem(0px);
  display: flex;
  &__container {
    display: flex;
    width: rem(940px);
    margin: 0 auto;

    @include tablets {
      padding: 0 15px;
    }
  }
  &__socials{
    width: rem(470px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablets {
      width: 50%;
    }
  }
  &__socials-list{
    display: flex;
  }
  &__socials-item{
    margin: rem(0px) rem(10px);
  }
}
.footer__contact {
  width: rem(470px);
  display: flex;
  align-items: center;

  @include tablets {
    width: 50%;
  }
  &-address{
    font-weight: 500;
    font-size: rem(21px);
    margin: 0 0;
  }
  &-phone {
    color: $green;
    text-decoration: none;
    font-weight: 400;
    font-size: rem(24px);
  }
}