.header__container  {
  height: rem(45px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(22px);

  .navigation__box  {
    display: flex;

    @include tablets {
      display: none;
    }
  }

  .navigation__item {
    margin: auto rem(15px);
    color: $white;
    @include Alegreya();
    font-weight: 400;
  }

  .contact {
    display: flex;
    align-items: center;

    @include tablets {
      display: none;
    }
  }
}