.naturchoco {
  &__container {
    display: flex;

    @include tablets {
      flex-direction: column;
    }
  }
  &__left  {
    width: rem(410px);
    color: $white;
    margin-top: rem(85px);
  }
  &__title  {
    font-size: 3.75rem;
    font-weight: 700;
  }
  &__text {
    font-size: rem(21px);
    margin-bottom: rem(51px);
  }
  &__right {
    width: 50%;
  }
  &__left {
    width: 50%;
  }
}