.naturchoco__container  {
  width: 410px;
  color: $white;
  margin-top: 85px;
  margin-left: -34.375rem;

  .naturchoco__title  {
    font-size: 3.75rem;
    font-weight: 700;
  }

  .naturchoco__text {
    font-size: 21px;
    margin-bottom: 51px;
  }
}

