.option {
  display: flex;
  flex-wrap: wrap;
  &__radio {
    margin: rem(5px) rem(10px);
  }
  &__checkbox {
    margin: rem(5px) rem(10px);
  }

  @include tablets {
    justify-content: center;
  }
}