.specification {
  color: $white;
  margin-bottom: rem(47px);
  margin-top: rem(95px);

  @include tablets {
    margin-top: rem(75px);
  }

  @include phones {
    margin-top: rem(128px);
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    margin-right: rem(5px);
  }
  &__icon {
    margin-right: rem(5px);
  }
  &__text {
    margin-right: rem(15px);
    width: rem(73px);

    @include tablets {
      text-align: start;
    }
  }
}