.specification {
  color: $white;
  margin-bottom: rem(47px);
  margin-top: rem(85px);
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    margin-right: rem(5px);
  }
  &__icon {
    margin-right: rem(5px);
  }
  &__text {
    margin-right: rem(15px);
  }
}