.whychoco {
  @include phones {
    height: 700px;
    display: flex;
  }
}

.whychoco__container  {

  @include phones {
    justify-content: start;
  }
  .whychoco__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whychoco__text {
    font-size: rem(18px);
    font-weight: 400;
    color: $grey;
    width: rem(500px);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .whychoco__list {
    display: flex;
    justify-content: space-around;
    
    @include tablets {
      flex-direction: column;
    }
  }

  .whychoco__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: rem(88px);
    position: relative;

    @include tablets {
      margin: 0 0;
    }

    @include phones {
      flex-direction: row;
    }
  }

  .whychoco__description {
    @include phones {
      text-align: left;
      margin-left: rem(10px);
    }
  }

  .whychoco__item:before {
    content: '';
    background-image: url(../icons/dots_whysection.png);
    background-repeat: no-repeat;
    position: absolute;
    width: rem(70px);
    height: rem(20px);
    top: rem(55px);
    right: rem(-105px);
    display: inline-block;
    text-align: center;

    @include tablets {
      display: none;
    }
  }

  .whychoco__item:last-child:before {
    display: none;
  }

  .whychoco__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(125px);
    height: rem(125px);
    border-radius: 50%;
    background-color: $grey_light;

    @include tablets {
      margin-top: rem(10px);
    }

    @include phones {
    width: rem(175px);
    height: rem(175px);
    border-radius: 50%;
    background-color: $grey_light;
    }
  }

  .whychoco__title-pic {
    margin-top: rem(65px);
    font-size: rem(27px);

    @include tablets {
      margin-top: 30px;
    }

    @include phones {
      font-size: rem(33px);
    }
  }

  .whychoco__text-pic {
    width: rem(260px);
    font-size: rem(14px);
    font-weight: 300;
    color: $grey;

    @include tablets {
      width: rem(400px);
    }

    @include phones {
      font-size: rem(20px);
    }
  }
}